@import models.CreateFormUser
@(userForm: Form[CreateFormUser], degrees : java.util.List[String])
@implicitFieldConstructor = @{
  b3.vertical.fieldConstructor
}
@pageTemplate(Messages("user.create.title")){
  <div class="col-md-3 "></div>
  <div class="container col-md-6">
    <h1 id="foo">@Messages("user.create.headline")</h1>

    <div class="create-user-form">

      @helper.form(action = routes.CreateUserController.doCreateUser(), 'id -> "createUserForm") {

        @b3.text(userForm("userName"), '_id -> "loginNameInput", 'placeholder -> Messages("user.create.userName.placeHolder"))
        @b3.select(userForm("degree"), degrees.map(d => d.toString() -> d.toString))
        @b3.textarea(userForm("aboutText"), '_id -> "userAboutInput", 'placeholder -> Messages("user.create.about.placeHolder"))


        @* Confirmation message *@
        @if(flash.contains("success")) {
          <div id="successMessage" class="alert alert-success">
            <p class="success">
            @flash.get("success")
            </p>
          </div>
        }
        @* Error message *@
        @if(userForm.hasGlobalErrors) {
          <div class="row">
            <div class="alert alert-danger" id="error-message" role="alert">@userForm.globalError.message</div>
          </div>
        }

        @b3.submit('_id -> "submit", 'class -> "btn btn-warning") {
          <span class="glyphicon glyphicon-ok"></span> @Messages("user.create.form.submit")
        }
      }

    </div>
  </div>

}{
  <script>
    $(document).ready(function(){
      $('.glyphicon-education').mouseover(function(){
        $(this).addClass('blue');
      });
      $('.glyphicon-education').mouseout(function(){
        $(this).removeClass('blue');
      });
    });

  </script>
}