@(title: String, hasDropdown: Boolean = false)(content: Html)(javascript: Html)
@import helper._


<!DOCTYPE html>
<html lang="de">
  <head>
    <link rel="stylesheet" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/styles.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("../../public/images/favicon.PNG")">
    <meta charset="utf-8" />
    <title >@title</title>
  </head>
  <body>
    @header(hasDropdown)
    @content
    @footer()
    @javascriptImports()
    @javascript
  </body>
</html>