@import models.User
@import java.util

@(users: util.List[User])

@pageTemplate(Messages("users.list.title")) {
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1 id="page_title">@Messages("users.list.headline")</h1>

    <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>@Messages("users.table.userName")</th>
              <th>@Messages("users.table.degree")</th>
              <th>@Messages("users.table.aboutText")</th>
            </tr>
          </thead>

      <tbody>
    @for(u <- users) {
      @if(u.userName != null) {
        <tr class="table_row">
          <td>@u.userName</td>
          <td>@u.degree</td>
          <td>@u.aboutText</td>
        </tr>
      }
    }
      </tbody>
    </table>
  </div>

} {
}